<div class="header">
    <h1 id="main-title" class="container">
        <%= data %>
    </h1>
    <h3 class="container">View Path:
        <code><%= view.pathFromApp + '.' +view.ext %></code>
        <code></code>
    </h3>
</div>
<h1></h1>