<% include /partials/head %>


  <div class="default-page">
    <% data= 'Home'; %>

      <% include /partials/header %>

        <div class="main container clearfix">
          <div class="links">
            <ul class="link-list">

              <% if (req.session.me) { %>

                <h4>Articles</h4>
                <a href="/article/add">
                  <li>Submit your article</li>
                </a>
                <a href="/explore">
                  <li>Explore</li>
                </a>
                <h4>Account</h4>
                <a href="/point">
                  <li>Points</li>
                </a>
                <a href="/logout">
                  <li>Logout</li>
                </a>


                <% } else { %>
                  <a href="/login">
                    <li>Login</li>
                  </a>
                  <a href="/signup">
                    <li>Signup</li>
                  </a>
                  <% } %>
            </ul>
          </div>
        </div>
  </div>