<% include /partials/head %>


  <div class="default-page">
    <% data= 'Home'; %>

      <% include /partials/header %>

        <div class="main container clearfix">
          <% if (req.session.me) { %>
            <a href="/logout">Logout</a> |
            <a href="/article/add">Submit your article</a> |
            <a href="/explore">Explore</a> |
            <a href="/point">Points</a>
            <% } else { %>
              <a href="/login">Login</a> |
              <a href="/signup">Signup</a>
              <% } %>

        </div>
  </div>