<h1>Login</h1>
<form action="/login" method="post">

  <label for="name">Your name ?</label>
  <input name="name" type="text"/>
  <br/>

  <label for="password">Your safe word?</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
