<% include ../partials/head %>


  <div class="default-page">
    <% data= 'Deliver'; %>
      <% include ../partials/header %>

        <div class="main container clearfix">
          <form action="/article/new" method="post">

            <label for="name">Article name?</label>
            <input name="name" type="text" />
            <br/>
            <input type="submit" />
          </form>
        </div>
  </div>