<% include ../partials/head %>


  <div class="default-page">
    <% data= 'Available downloads:'; %>
    <% include ../partials/header %>

      <div class="main container clearfix">
        <ul>
            <% _.each(articles, function (articles) { %>
                <li>
                    <%= articles.name %>
                </li>
                <% }) %>
        </ul>
      </div>
  </div>