<% include ../partials/head %>


    <div class="default-page">
        <% data= 'Available downloads:'; %>
            <% include ../partials/header %>

                <div class="main container clearfix">

                        <ul class="link-list">

                            <% _.each(articles, function (articles) { %>
                                <li id= <%= articles.id %>> <a href="/article/file/<%= articles.id %>">download</a> | 
                                <%= articles.name %>
                                </li>
                                <% }) %>


                                <br/><br/>
                                <a href="/">Back to home page</a>

                        </ul>

                </div>

    </div>