<div>
    <h1>Available downloads:</h1>
    <h2></h2>
    <ul>
        <% _.each(articles, function (articles) { %>
            <li>
                <%= articles.name %>
            </li>
            <% }) %>
    </ul>
</div>