<% include ../partials/head %>


    <div class="default-page">
        <% data= 'Available downloads:'; %>
            <% include ../partials/header %>

                <div class="main container clearfix">


                    Amount:
                    <%= point.amount%>

                        <% if (point.toast) { %>
                            |
                            <%= point.toast %>

                                <% } %>

                                    <br/>
                                    <br/>
                                    <a href="/">Back to home page</a>


                </div>

    </div>