<% include ../partials/head %>


    <div class="default-page">
        <% data= 'Available downloads:'; %>
            <% include ../partials/header %>

                <div class="main container clearfix">
                    <div class="links">

                        <ul class="link-list">

                            Amount: <%= point.amount%>



                                <br/>
                                <br/>
                                <a href="/">Back to home page</a>

                        </ul>
                    </div>

                </div>

    </div>